/* Import the Roboto font-family from google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif, serif;
    margin: 0;
}

.divisions {
    height: 500px;
}

.footer {
    height: 60px;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 150px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    /* margin-bottom: 100px; */
    font-weight: bold;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero2 {
    font-size: 18px;
    color: #e5e7eb;
}

#button1 {
    background-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    border-radius: 8px;
    height: auto;
    padding: 10px;
    border: none;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    margin-bottom: 120px;
}

.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    height: 300px;
    background-color: #6d747d;
    border-radius: 30px;
}

.left,
.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.logo,
.hero1 {
    flex: auto;
}

.hero1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 30px;
}

#random {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.random {
    display: flex;
    padding-top: 50px;
    /* justify-content: center; */
    padding-left: 250px;
    padding-right: 250px;
    gap: 20px;
}

.img {
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 24px;
    margin-bottom: 10px;
}

.text-under-img {
    width: 150px;
    text-align: center;
}

.window {
    flex: 1;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 250px;
    height: 180px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quote-by {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.action {
    display: flex;
    background-color: #3882f6;
    height: 200px;
    width: 1000px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    gap: 150px;
    box-shadow: 2px 2px 30px 20px #f3f3f3;
}

#button2 {
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #f9faf8;
    background-color: #3882f6;
    color: #f9faf8;
}

.action-time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* SOME CHANGES */
.right a {
    text-decoration: none;
    color: #f9faf8;
}

.logo img {
    height: 150px;
    width: auto;
}

.img-holder img {
    height: inherit;
    border-radius: 30px;
    box-shadow: 4px 4px 40px 10px #f9faf8;
}

.img img {
    height: inherit;
    width: inherit;
    border-radius: 20px;
}

.action-time {
    background-image: url('Images/bgimg.jpg') ;
}
